---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro";
---

<Layout title="Lethal Compendium">
    <main>
        <Header />

        <p class="text-center text-xl font-bold text-red pt-4">
            List of scrap</p>

    </main>
</Layout>

<style>

</style>
